@import '../../vendors/mixins';
@import '../../vendors/variables';

.section {
    margin: 0 auto;

    .inputcontainer {
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0.3)), url('https://source.unsplash.com/random/?nature&orientation=landscape');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 60px;
        padding: 0 20px;
        transition: 0.15s cubic-bezier(.39, .575, .565, 1);
    }

    .inputcontainer.searched {
        height: 100px;
        background: linear-gradient(to bottom, rgba(255, 254, 255, 0.9) 5%, rgba(255, 255, 255, 0.85)), url('https://source.unsplash.com/random/?nature&orientation=landscape');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .text {
        text-align: center;
        margin-top: 12px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 14px;
    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;

    .search-input,
    button {
        height: 48px;
        @include padding(2);
        border-radius: 0;
        border: 0;
        border-radius: 0 12px 12px 0;
    }

    .search-input {
        border: 1px solid #CCC;
        border-right: 0;
        width: 100%;
        max-width: 480px;
        font-size: 0.9rem;
        color: #666;
        border-radius: 12px 0 0 12px;
        padding: 16px 24px;

        &:focus,
        &:active {
            outline: none;
        }
    }

    button {
        padding: 0 20px;
        border-left: 0;
        background: $black;
        color: $white;
        cursor: pointer;
        font-size: 1rem;
    }
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;

    .box {
        @include padding(2.5);
        border: 1px solid #ddd;
        height: fit-content;
        background: #fff;
        border-top: 5px solid rgba($black, 0.1);
        overflow: auto;
        max-height: 1000px;
        box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.01);
        position: relative;

        &:hover {
            ::-webkit-scrollbar-track {
                background: rgb(229, 229, 229);
            }
        }

        .title__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            margin-bottom: 12px;
            padding-bottom: 8px;

            .title {
                font-size: 20px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }

        em {
            word-break: break-all;
            ;
        }

        p {
            display: flex;
            align-items: center;
            padding: 4px 0;
            gap: 4px;
        }

        span {
            display: inline-block;
            min-width: 160px;
            word-break: break-all
        }

        span:nth-child(odd) {
            font-weight: 700;
        }

        pre,
        em {
            display: contents;
            white-space: pre-wrap;
        }

        .buttons {
            display: flex;
            gap: 12px;
            transition: 0.15s;

            svg {
                margin-left: 4px;
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 0.8em;
            border-radius: 4px;
            padding: 6px 10px;
            background: $white;
            color: $black;
            border: 1px solid rgba($black, 0.1);
            transition: 0.1s ease-in-out;

            // box-shadow: 0 4px 4px rgba($black, 0.1);


            &:hover {
                background: #EEE;
            }
        }

        .info p {
            button {
                opacity: 0;
                pointer-events: none;
                margin-left: auto;
                transition: 0.1s;
            }

            &:hover {
                button {
                    opacity: 1;
                    pointer-events: all;

                }
            }
        }
    }
}

.content.error {
    grid-template-columns: 1fr;

    .box {
        border-top: 5px solid rgb(234, 70, 0);
        max-width: 600px;
        width: 100%;
        margin: auto;
    }

    ul {
        padding-left: 20px;

        li {
            margin-bottom: 8px;
        }
    }

}

.show__button_group {
    margin-bottom: 16px;

    .btn {
        padding: 12px 20px;
        background: #EEE;
        font-size: 1em;
        border: none;
        color: #000;
        border-radius: 4px;
        margin-right: 8px;
        text-transform: capitalize;
        cursor: pointer;
    }

    .active {
        background: $theme;
        color: $white;
    }
}

/*Media Queries*/
@media (max-width: 992px) {
    .content {
        @include padding(2.5);
        grid-template-columns: 1fr;
    }
}