.section {
    margin: 0 auto;
    .inputcontainer {
        height:200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 40px 20px;
        background: $theme;
        margin-bottom: 60px;
    }
    .text {
        text-align: center;
        margin-top: 12px;
        color: rgba(0,0,0,0.3);
        font-size: 14px;
    }
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    .search-input, button {
        height: 50px;
        @include padding(2);
        border-radius: 0;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .search-input {
        border-right: 0;
        width: 100%;
        max-width: 480px;
        font-size: 1rem;
        color: #666;
        &:focus, &:active {
            outline: none;
        }
    }
    button {
        border-left: 0;
        background: $white;
        font-size: 1rem;
    }
}

.buttons {
    display: flex;
    gap: 12px;
    transition: 0.15s;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 0.8em;
        border-radius: 4px;
        padding: 6px 10px;
        background: $white;
        color: $black;
        border: 1px solid rgba($black, 0.1);
        // box-shadow: 0 4px 4px rgba($black, 0.1);
        svg {
            margin-left: 4px;
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 60px;
    max-width: 1400px;
    margin: 0 auto;
    
    .box {
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        height: fit-content;
        background: #fff;
        border-top: 5px solid rgba($theme, 0.1);
        overflow: auto;
        max-height: 1000px;
        box-shadow: 0 4px 8px 8px rgba(0,0,0,0.01);
        position: relative;
        &:hover{
            ::-webkit-scrollbar-track {
                background: rgb(229, 229, 229);
            }
            
        }
        .title__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            .title {
                font-size: 20px;
            }
        }
        
        img {
            width: 100%;
            height: auto;
        }
        pre {
            display: contents;
            white-space: pre-wrap;
        }
    }
}
.content.error {
    grid-template-columns: 1fr;
    .box {
        border-top: 5px solid rgb(234, 70, 0);
        max-width: 600px;
        width: 100%;
        margin: auto;
    }
}

/*Media Queries*/
@media (max-width: 992px) {
    .content {
        padding: 20px;
        grid-template-columns: 1fr;
    }
}

