.section {
    margin: 0 auto;
    .inputcontainer {
        padding: 120px 0;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 240px;
            background: $theme;
            z-index: -1;
            box-shadow: 0 10px 20px rgba(0,0,0,0.3);
            border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%;
        }
    }
    .text {
        text-align: center;
        margin-top: 12px;
        color: rgba(0,0,0,0.3);
        font-size: 14px;
    }
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    .input, button {
        height: 50px;
        @include padding(2);
        border-radius: 0;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .input {
        border-right: 0;
        width: 100%;
        max-width: 480px;
        &:focus, &:active {
            outline: none;
        }
    }
    button {
        border-left: 0;
        background: $white;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
    .box {
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-top: 5px solid rgb(0, 90, 179);
        overflow: auto;
        max-height: 1200px;
        .title {
            font-size: 20px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
    }
}