.section {
    margin: 0 auto;
    .inputcontainer {
        height:200px;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px 0;
        // background: $theme;
        margin-bottom: 60px;
        // clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
        // position: relative;
        // top: 0;
        // z-index: 11;
    }
    .text {
        text-align: center;
        margin-top: 12px;
        color: rgba(0,0,0,0.3);
        font-size: 14px;
    }
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    .input, button {
        height: 50px;
        @include padding(2);
        border-radius: 0;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .input {
        border-right: 0;
        width: 100%;
        max-width: 480px;
        &:focus, &:active {
            outline: none;
        }
    }
    button {
        border-left: 0;
        background: $white;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
    .box {
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        height: fit-content;
        border-top: 5px solid rgba($theme, 0.5);
        overflow: auto;
        max-height: 800px;
        box-shadow: 0 4px 8px 8px rgba(0,0,0,0.05);
        &:hover::-webkit-scrollbar-track {
            background: rgb(229, 229, 229);
        }
        .title {
            font-size: 20px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
    }
}