.status {
    border-radius: 8px;
    @include padding(3);
    margin-bottom: 20px;
    color: $black;
    .icon {
        margin-right: 20px;
        svg {
            vertical-align: middle;
        }
    }
}
.green {
    background: rgb(229, 255, 231);
}
.orange {
    background: rgb(255, 228, 193);
}
.red {
    background: rgb(255, 251, 219);
}