* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'Inter', Arial, sans-serif;
  background: #f8fdff;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

.loader {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}

.loader img {
  max-width: 400px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #040506;
  color: #FFF;
  padding: 16px;
}

nav .menu-list {
  list-style: none;
}

nav .menu-list .menu-item a {
  color: #FFF;
}

nav .menu-list .menu-item a svg {
  vertical-align: middle;
}

.section {
  margin: 0 auto;
}

.section .inputcontainer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px;
  background: #040506;
  margin-bottom: 60px;
}

.section .text {
  text-align: center;
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .input, .form button {
  height: 50px;
  padding: 16px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.form .input {
  border-right: 0;
  width: 100%;
  max-width: 480px;
}

.form .input:focus, .form .input:active {
  outline: none;
}

.form button {
  border-left: 0;
  background: #FFF;
}

.buttons {
  position: absolute;
  top: 80px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  height: 32px;
  width: 32px;
  background: #FFF;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  background: #fff;
}

.content .box {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-top: 5px solid rgba(4, 5, 6, 0.5);
  overflow: auto;
  max-height: 800px;
  -webkit-box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.05);
  position: relative;
}

.content .box:hover ::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.content .box:hover .buttons {
  pointer-events: all;
  opacity: 1;
}

.content .box .title {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.content .box pre {
  display: contents;
  white-space: pre-wrap;
}

/*Media Queries*/
@media (max-width: 992px) {
  .content {
    padding: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.status {
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 20px;
  color: #000;
}

.status .icon {
  margin-right: 20px;
}

.status .icon svg {
  vertical-align: middle;
}

.green {
  background: #e5ffe7;
}

.orange {
  background: #ffe4c1;
}

.red {
  background: #fffbdb;
}
/*# sourceMappingURL=main.css.map */