* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Inter", Arial, sans-serif;
  background: #FFF;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.loader {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
.loader svg {
  fill: #FA4659;
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
  font-size: 48px;
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 16px;
  background: #031022;
  color: #FFF;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
nav h2 a {
  color: #FFF;
  text-decoration: none;
}
nav .menu-list {
  list-style: none;
}
nav .menu-list .menu-item a {
  color: #FFF;
}
nav .menu-list .menu-item a svg {
  vertical-align: middle;
}

.section {
  margin: 0 auto;
}
.section .inputcontainer {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0.3)), url("https://source.unsplash.com/random/?nature&orientation=landscape");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
  padding: 0 20px;
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.section .inputcontainer.searched {
  height: 100px;
  background: linear-gradient(to bottom, rgba(55, 55, 55, 0.5) 5%, rgba(56, 56, 56, 0.5)), url(https://source.unsplash.com/random/?nature&orientation=landscape);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section .text {
  text-align: center;
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .search-input,
.form button {
  height: 48px;
  padding: 16px;
  border-radius: 0;
  border: 0;
  border-radius: 0 12px 12px 0;
}
.form .search-input {
  border: 1px solid #CCC;
  border-right: 0;
  width: 100%;
  max-width: 480px;
  font-size: 0.9rem;
  color: #666;
  border-radius: 12px 0 0 12px;
  padding: 16px 24px;
}
.form .search-input:focus, .form .search-input:active {
  outline: none;
}
.form button {
  padding: 0 20px;
  border-left: 0;
  background: #000;
  color: #FFF;
  cursor: pointer;
  font-size: 1rem;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.content .box {
  padding: 20px;
  border: 1px solid #ddd;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 1000px;
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.01);
  position: relative;
}
.content .box:hover ::-webkit-scrollbar-track {
  background: rgb(229, 229, 229);
}
.content .box .title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
  padding-bottom: 8px;
}
.content .box .title__wrapper .title {
  font-size: 20px;
}
.content .box img {
  width: 100%;
  height: auto;
}
.content .box em {
  word-break: break-all;
}
.content .box span {
  padding: 4px 0px;
  display: inline-block;
  min-width: 160px;
}
.content .box span:nth-child(odd) {
  font-weight: 700;
}
.content .box pre,
.content .box em {
  display: contents;
  white-space: pre-wrap;
}
.content .box .buttons {
  display: flex;
  gap: 12px;
  transition: 0.15s;
}
.content .box .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 4px;
  padding: 6px 10px;
  background: #FFF;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.1s ease-in-out;
}
.content .box .buttons button svg {
  margin-left: 4px;
}
.content .box .buttons button:hover {
  background: #EEE;
}

.content.error {
  grid-template-columns: 1fr;
}
.content.error .box {
  border-top: 5px solid rgb(234, 70, 0);
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.show__button_group {
  margin-bottom: 16px;
}
.show__button_group .btn {
  padding: 12px 20px;
  background: #EEE;
  font-size: 1em;
  border: none;
  color: #000;
  border-radius: 4px;
  margin-right: 8px;
  text-transform: capitalize;
  cursor: pointer;
}
.show__button_group .active {
  background: #FA4659;
  color: #FFF;
}

/*Media Queries*/
@media (max-width: 992px) {
  .content {
    padding: 20px;
    grid-template-columns: 1fr;
  }
}
.statusinfo {
  margin-bottom: 8px;
  word-break: break-all;
  font-size: 0.9rem;
}
.statusinfo:last-child {
  margin: 0;
}

.green {
  background: rgb(229, 255, 231);
}

.yellow {
  background: rgb(255, 255, 193);
}

.red {
  background: rgb(255, 231, 219);
}

.pink {
  background: rgb(251, 213, 250);
}/*# sourceMappingURL=main.css.map */