* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    font-family: 'Inter', Arial, sans-serif;
    background: #f8fdff;
}

$theme: #011627;
$black: #333;
$white: #FFF;

@mixin padding($value) {
    padding: $value*8px;
}

@import "./partials/loader";
@import "./partials/header";
@import "./partials/feed";
@import "./partials/status";