$theme: #FA4659;
$black: #000;
$white: #FFF;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    font-family: 'Inter', Arial, sans-serif;
    background: $white;
    font-size: 15px;
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
::-webkit-scrollbar-track {
    background: $white;
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 8px;
}
.text-center {
    text-align: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}


@mixin padding($value) {
    padding: $value*8px;
}

@import "./partials/loader";
@import "./partials/header";
@import "./partials/feed";
@import "./partials/status";