@import '../../vendors/variables';

.loader {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    svg {
        fill: $theme;
        animation: spin 0.5s linear infinite;
        font-size: 48px;
    }
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}