.statusinfo {
    margin-bottom: 8px;
    word-break: break-all;
    font-size: 0.9rem;
    &:last-child {
        margin: 0;
    }
}


.green {
    background: rgb(229, 255, 231);
}
.yellow {
    background: rgb(255, 255, 193);
}
.red {
    background: rgb(255, 231, 219);
}
.pink {
    background: rgb(251, 213, 250);
}